/tools/maven/settings-*.xml

.DS_Store

.idea/
*.iml
.vscode/

**/target/
*.class

**/quarkus.log

.mvn/wrapper/dists/

.env
.env.*
*.local
application-local.properties
application-local.yml
application-dev.properties
application-dev.yml

.m2/

*.log

.testcontainers.properties

WARP.md